# Database Configuration
POSTGRES_PORT=5432
POSTGRES_DATABASE=cash_manager
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

# Keycloak Configuration
KEYCLOAK_VERSION=24.0.1
KEYCLOAK_DB_PORT=5433
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HTTP_PORT=9090
KEYCLOAK_HTTPS_PORT=9443
KEYCLOAK_HTTP_ENABLED=true
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_HOSTNAME_STRICT=false
KEYCLOAK_HOSTNAME_STRICT_HTTPS=false

# API Service Configuration
API_SERVICE_HOST=backend-api
API_SERVICE_PORT=8080

